<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell">
    <img class="{% if block.imageAlignment == 'left' %}float-left {% else %}float-right {% endif %}padding-10" src="{{ block.image.one().getUrl('eventPage') }}">
    {{ block.text }}
  </div>
</div>