<div class="grid-x align-center">
<div class="cell medium-8 large-6 margin-top-50 margin-bottom-50">
<p>{{ block.text }}</p>
  <div class="youtube" data-embed="{{ block.video }}">
    <div class="play-button"></div> 
  </div>
</div>
</div>