<footer>
 <div class="container">
   <div class="grid-x grid-margin-x grid-margin-y align-justify align-middle">
     <div class="cell medium-shrink">
       <p class="text--white no-margin"><small>Copyright © 2019 The Seasons Performance Hall, all rights reserved.</small></p>
       <p class="text--white">101 North Naches Ave, Yakima, WA 98901 | (509) 453-1888</p>
      </div>
      <div class="cell medium-shrink">
        <p><a href="https://thefieldgroup.net/" target="_blank" rel="noopener" class="text--white">Site created by Field Group marketing &amp; advertising</a></p>
      </div>
   </div>
 </div>
</footer>